@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* ==========================================
   React Calendar
========================================== */

.calendar-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: none !important;
  border-radius: 24px;
  padding: 20px;
  background: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  font-family: inherit;
}

.react-calendar__navigation {
  margin-bottom: 20px;
}

.react-calendar__navigation button {
  min-height: 44px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #111827;
  transition: 0.2s;
}

.react-calendar__navigation button:hover {
  background: #eff6ff;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #6b7280;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px 0;
}

.react-calendar__month-view__days {
  gap: 4px;
}

.react-calendar__tile {
  height: 48px;
  border-radius: 12px;
  transition: all 0.2s;
  font-weight: 600;
}

.react-calendar__tile:hover {
  background: #dbeafe;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #fef3c7;
  color: #92400e;
}

.has-recurring {
  background: #dbeafe !important;
  color: #2563eb !important;
  font-weight: 700;
}

/* ===========================
   Dark Mode
=========================== */

.dark .react-calendar {
  background: #111827;
  color: white;
}

.dark .react-calendar__navigation button {
  color: white;
}

.dark .react-calendar__navigation button:hover {
  background: #1e293b;
}

.dark .react-calendar__month-view__weekdays {
  color: #cbd5e1;
}

.dark .react-calendar__tile {
  color: white;
}

.dark .react-calendar__tile:hover {
  background: #1e40af;
}

.dark .react-calendar__tile--now {
  background: #374151;
  color: white;
}

.dark .has-recurring {
  background: #1d4ed8 !important;
  color: white !important;
}

html {
  scroll-behavior: smooth;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.marquee {
  width: max-content;
  animation: marquee 35s linear infinite;
}

.marquee-reverse {
  width: max-content;
  animation: marquee-reverse 35s linear infinite;
}

@media (max-width: 768px) {
  .marquee,
  .marquee-reverse {
    animation-duration: 24s;
  }
}